<!DOCTYPE HTML>
<html ng-app="todoApp">

<head>
  <meta charset="utf-8">
  <style>

</style>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<body class="body-style">
  <div>
  <div ng-controller="mainController as todoList">
    <div class="col-md-4 settings">
      <h2>Search</h2>
        <p>
          <input type="text" ng-model="searchKeyword">
        </p>
      <h2>Filters</h2>
        <input type="checkbox" data-ng-model='search.priority' data-ng-true-value="'high'" data-ng-false-value='' /> High </br>
        <input type="checkbox" data-ng-model='search.priority' data-ng-true-value="'middle'" data-ng-false-value='' /> Middle <br>
        <input type="checkbox" data-ng-model='search.priority' data-ng-true-value="'low'" data-ng-false-value='' /> Low </br>
      <h2>Sort</h2>
        <input type="checkbox" data-ng-model='sort' data-ng-true-value="'text'" data-ng-false-value='' /> By Text <br>
    </div>
    <div class="todoList">
    <h2>Todos</h2>
    <table class="table table-bordered" style="background-color: cornsilk;">
      <tr>
        <th class="widht50">ToDo</th>
        <th class="widht20">Deadline</th>
        <th class="widht20">Priority</th>
        <th class="widht10">Delete</th>
     </tr>
      <tr ng-repeat="todo in todos | filter: search.priority | filter: searchKeyword | orderBy: sort">
        <td class="widht50">{{todo.text}}</td>
        <td class="widht20">{{todo.deadline | date:"dd/MM/yyyy"}}</td>
        <td class="widht20" data-ng-class="getPriorityClass(todo.priority)">{{todo.priority}}</td>
        <td class="widht10"><span class="fa fa-close" ng-click="deleteToDo($index)"> <img style="width:24px;" src="/images/remove-icon.png"></img></span></td>
      </tr>
    </table>
  </br>
    <a class="btn btn-danger fa fa-plus ng-scope" data-toggle="modal" href="" ng-click="openPopupScreen()">Add cool ToDo item</a>
  </div>
  </div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script data-require="ui-bootstrap@*" data-semver="0.10.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
  <script>
var App = angular.module('todoApp', ['ui.bootstrap'])

App.controller('mainController', function($scope, $modal) {
  $scope.todos = [
    { text: 'todo 1', deadline: '19/02/2012', priority: "High"},
    { text: 'todo 2', deadline: '12/02/2012', priority: "Middle"},
    { text: 'todo 3', deadline: '15/02/2012', priority: "Low"},
    { text: 'todo 4', deadline: '12/02/2012', priority: "Low"},
    { text: 'todo 5', deadline: '12/02/2017', priority: "Low"}
  ];

   $scope.addToDo = function(){
    var todoItem = {
        text: $scope.text,
        deadline: $scope.deadline,
        priority: $scope.priority
    };
    $scope.todos.push(todoItem);
  };

   $scope.deleteToDo = function(index){
    $scope.todos.splice(index, 1);
   };

   $scope.getPriorityClass = function (p) {
     if (p == "Low"){
       return "green";
     }
     if (p == "Middle"){
       return "yellow";
     }
     else {
       return "red";
     }
   };

  $scope.openPopupScreen = function() {
    var modalInstance = $modal.open({
      template: '<div class="modal-header">' +
                  '<a class="close" data-dismiss="modal" ng-click="cancel()">X</a>' +
                  '<h1>Add Todo</h1>' +
                '</div>' +
                '<div class="modal-body">' +
                  '<form >' +
                  ' <label>ToDo:  </label>' +
                    '<textarea name="comment" cols="40" rows="3" ng-model="todo.text"></textarea></br>' +
                  ' <label>Deadline:  </label>' +
                    '<input type="date" class="span3" ng-model="todo.deadline"></br>' +
                  ' <label>Priority:  </label>' +
                    '<select ng-model="todo.priority" ng-options="p for p in priority" data-ng-class="getPriorityClass(p)">{{p}}</select></br>' +
                  ' <button type="button" class="btn btn-success" ng-click="add()">Add In List</button>' +
                  ' <button type="reset" class="btn ">Clear</button>' +
                  '</form>' +
                '</div>' +
                '<div class="modal-footer">' +
                '  <a data-dismiss="modal" aria-hidden="true" class="btn btn-primary" ng-click="cancel()">close</a>' +
                '</div>',
      controller: ModalInstanceCtrl
    });
    modalInstance.result.then(function (newToDo) {
      $scope.todos.push(newToDo);
    });
  };

var ModalInstanceCtrl = function($scope, $modalInstance) {
  $scope.todo = {text: '', deadline: '', priority: ''};

  $scope.ok = function() {
    $modalInstance.close($scope.selected.item);
  };

  $scope.cancel = function() {
    $modalInstance.dismiss('cancel');
  };

//$scope.priority = [{level: 'High', color: 'red'}, {level: 'Middle', color: 'yellow'}, {level: 'Low', color: 'green'}];
$scope.priority = ['High','Middle','Low'];

  $scope.add = function() {
    $modalInstance.close($scope.todo);
  };
};
});</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</body>
</html>
